<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css" type="text/css">
    <title>HDT HOME</title>
</head>

<body>
    <header class="navigation-container">
        <div class="logo">
            <img src="../public/images/LogoF.gif" alt="logo" id="logo">
        </div>
        <div class="burger ">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="navigation-bar">
            <ul class="navigation-bar-lists">
                <li class="list">
                    <a href="/views/index.html" class="home">
                        <svg>
                        <use xlink:href='../public/images/sprite.svg#icon-home'></use>
                    </svg> HOME
                    </a>
                </li>
                <li class="list">
                    <a href="/views/services.html" class="services">
                        <svg>
                        <use xlink:href='../public/images/sprite.svg#icon-briefcase'></use>
                    </svg>SERVICES</a>
                </li>
                <li class="list">
                    <a href="/views/projects.html" class="projects">
                        <svg>
                        <use xlink:href='../public/images/sprite.svg#icon-hammer'></use>
                    </svg>PROJECTS</a>
                </li>
                <li class="list">
                    <a href="/views/gallery.html" class="gallery">
                        <svg>
                        <use xlink:href='../public/images/sprite.svg#icon-image'></use>
                    </svg>GALLERY</a>
                </li>
                <li class="list">
                    <a href="/views/contact.html" class="projects">
                        <svg>
                        <use xlink:href='../public/images/sprite.svg#icon-phone'></use>
                    </svg>CONTACT US</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="background">
        <img src="../public/images/LogoF.gif" alt="logo" id="logoB">
    </div>
    <main class="main-body">

    </main>
    <footer class="footer">
        <div class="copyright">
            <span class="copy">HDT &copy;All rights Reserved</span>
        </div>
        <div class="social-media">
            <ul class="navigation-bar-lists-footer">
                <li class="list">
                    <a href="#" class="home">
                        <svg>
                        <use xlink:href='../public/images/sprite.svg#icon-facebook'></use>
                    </svg>FACEBOOK</a>
                </li>
                <li class="list">
                    <a href="#" class="services"> <svg>
                        <use xlink:href='../public/images/sprite.svg#icon-twitter'></use>
                    </svg>TWITTER</a>
                </li>
                <li class="list">
                    <a href="#" class="projects"> <svg>
                        <use xlink:href='../public/images/sprite.svg#icon-instagram'></use>
                    </svg>INSTAGRAM</a>
                </li>
                <li class="list">
                    <a href="#" class="gallery">A. MODIFIERS</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="/public/js/index.js"></script>
</body>

</html>