:root {
    --body: black;
    --main-text: mediumpurple;
    --text: white;
    --shadow: #0003;
    --hover-color: lightblue;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 37.5em) {
    html {
        font-size: 40%;
    }
}

body {
    font-family: sans-serif;
    background: var(--body);
}

::-webkit-scrollbar {
    width: 2em;
}

::-webkit-scrollbar-track {
    background-color: var(--main-text);
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text);
    border-radius: 100vw;
}


/* Navigation Bar */

.navigation-container {
    width: 100%;
    height: 15vh;
    background-color: var(--body);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}

.logo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

#logo {
    max-width: 100%;
    display: block;
    border-radius: 50%;
    width: inherit;
}

.navigation-bar {
    width: 80%;
    height: 5rem;
    display: flex;
    align-items: center;
}

.navigation-bar-lists {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list a:link,
.list a:visited {
    text-decoration: none;
    color: var(--text);
    font-size: 1.8rem;
    width: inherit;
    height: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: var(--main-text);
    border: 2px double var(--text);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.219), 1%, grey);
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoB {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

svg {
    width: 1.8rem;
    fill: white;
    margin-right: 0.5rem;
    padding-bottom: 0.3rem;
}

@media only screen and (max-width:30em) {
    .navigation-bar {
        transform: translateY(-100%);
        opacity: 0;
        height: 100vh;
        transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
        align-items: center;
    }
    .navigation-bar-lists {
        flex-direction: column;
        justify-content: space-around;
    }
    .nav-visible {
        display: flex;
        transform: translateY(42%);
        z-index: 140;
        position: relative;
        opacity: 1;
        flex-direction: column;
        background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.219), 1%, grey);
        align-items: flex-start;
        transition: transform 0.8s ease-in-out;
        transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
        will-change: transform;
    }
    .sticky {
        position: fixed;
        top: -42%;
        transition: transform 0.8s ease-in-out;
    }
}


/* BURGER MOBILE SCREEN */

.burger {
    width: 5rem;
    height: 5rem;
    background-color: var(--text);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
    display: none;
}

.line {
    width: 3rem;
    height: 0.5rem;
    background-color: var(--main-text);
    transition: transform 0.8s ease-in-out;
}

.line:nth-child(2) {
    margin: 0.5rem 0 0.5rem 0;
}

.activeBurger {
    transform: rotate(1.75turn);
}

.activeBurger .line:nth-child(1) {
    transform: rotate(45deg) translate(16%, 180%);
}

.activeBurger .line:nth-child(3) {
    transform: rotate(-45deg) translate(20%, -180%);
}

.activeBurger .line:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
}

@media only screen and (max-width:30em) {
    .burger {
        display: flex;
        transform: translateX(650%);
        position: relative;
        z-index: 150;
    }
    .activeBurger {
        transform: translate(30%) rotate(1.75turn);
    }
    .Bsticky {
        position: fixed;
        top: 0;
        right: 2rem;
        transform: none;
    }
}


/* MAIN Content */

.main-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 10rem;
    transform: translateX(-150%);
}

.shrinkSlide {
    width: 20%;
    height: 30%;
    opacity: 0.5;
    transform: translateX(-150%);
    transition: width 1s ease-out, opacity 1s ease-in-out, height 1s ease-in-out, transform 1s ease-out;
    will-change: opacity, transform, width, height;
}

.SlideIN {
    opacity: 1;
    width: 100%;
    transform: translateX(0%);
    transition: opacity 1s ease-in-out, transform 0.8s ease-out;
    will-change: opacity, transform;
}


/* INTRO */

.contact-us {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75rem;
    width: 50%;
    flex-direction: column;
    margin-top: 1.75rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top: 1.5px solid var(--main-text);
    border-bottom: 1.5px solid var(--main-text);
    margin: 1rem 0 1.75rem 0;
}

.founders {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.henk,
.tidi {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tidi img,
.henk img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--main-text);
    font-size: 2rem;
    margin-bottom: 1.75rem;
}

form {
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top: 1.5px solid var(--main-text);
    border-bottom: 1.5px solid var(--main-text);
    margin: 1rem 0 1.75rem 0;
}

label,
span {
    color: var(--text);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

input {
    border: 1px solid mediumpurple;
    padding: 1rem;
    margin-bottom: 1rem;
}

#message {
    height: 20%;
}

#submit {
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    width: 15rem;
    height: 4rem;
    text-decoration: none;
    background-color: mediumpurple;
    background-color: white;
    color: white;
    color: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border: 1px solid mediumpurple;
}

@media only screen and (max-width:30em) {
    .main-body {
        flex-direction: column;
        padding: 1.75rem;
    }
    .contact-us,
    form {
        width: 80%;
        height: 50vh;
    }
    form {
        width: 95%;
    }
    .founders {
        flex-direction: column;
    }
    .henk,
    .tidi {
        flex-direction: row;
    }
    span {
        margin-left: 1rem;
    }
}


/* FOOTER STYILING */

footer {
    width: 100%;
    height: 10vh;
    border-top: 2px solid var(--main-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar-lists-footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-bar-lists-footer li {
    width: 15rem;
    height: 100%;
}

.copyright {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    color: white;
    font-size: 1.8rem;
}

.navigation-bar-lists-footer .list a:link,
.navigation-bar-lists-footer .list a:visited {
    text-decoration: none;
    color: var(--main-text);
    font-size: 1.8rem;
    width: inherit;
    height: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-bar-lists-footer .list a:hover {
    border-top: 5px solid var(--main-text);
    height: 119%;
    border-radius: 0.6rem 0.6rem 0 0;
}

@media only screen and (max-width:30em) {
    .footer {
        flex-direction: column;
        height: 30vh;
    }
    .copyright {
        width: 100%;
    }
    .social-media {
        width: 100%;
    }
    .navigation-bar-lists-footer {
        flex-direction: column;
        width: 100%;
    }
    .navigation-bar-lists-footer li {
        height: 5rem;
    }
}